# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.db
*.user

sm64-tas-scripting/sm64-tas-scripting/Debug/
sm64-tas-scripting/sm64-tas-scripting/x64/
sm64-tas-scripting/.vs/
sm64-tas-scripting/sm64-tas-scripting/.vs/
sm64-tas-scripting/Debug/
sm64-tas-scripting/x64/